.feedoptionscontainer {
	padding: 20px;
	margin: auto;
	margin-bottom: 25px;
	overflow: hidden;
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 10px black;
}

.feedoptionscontent {
	box-shadow: 0px 3px 10px black;
}

.feedoptionscontent h4 {
	margin: 0px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px black solid;
}

/* FEED OPTIONS HEADER */
.feedophead {
	flex: 100%;
	text-align: center;
	padding: 10px;
	font-size: 22px;
	background-color: rgba(0, 157, 255, 0.3);
}
/* HEADER END */

/* FEED OPTIONS BODY */
.feedopbody {
	display: flex;
	flex-wrap: wrap;
	flex: 100%;
	padding: 10px;
	background-color: rgb(20, 20, 20);
}

/* FEEDOPTIONS */
.fop{
	flex:100%;
	padding: 10px;
	height: ;
	margin: 5px;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px black solid;
	border-bottom: 3px black solid;
	background-color: rgb(36, 36, 36);
	user-select: none;
}

.fop .fopdrop{
	display: flex;
	justify-content: center;
	padding:5px;
	margin-bottom:10px;
	cursor: pointer;
	border: 1px black solid;
	box-shadow: 0px 2px 5px black;
	background-color: rgb(30, 30, 30);
}

/* TEXT INPUT */
.foform {
	display: flex;
	padding: 10px;
	margin: 10px;
	border: 1px black solid;
	background-color: rgb(30, 30, 30);
}

.foform form{
	display: flex;
	justify-content: space-evenly;
	flex: 100%;
}

.foform input {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	border-radius: 10px;
	border: 1px black solid;
	padding-left: 10px;
}

.foform button{
	width: 20%;
	justify-content: flex-end;
	outline: none;
	border-radius: 10px;
	border: 1px black solid;
	cursor: pointer;
}

/* CHECKBOX INPUT */
.fofilter {
	display: flex;
	flex: 100%;
	justify-content: space-evenly;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 5px;
	margin: 10px;
	border: 1px black solid;
	background-color: rgb(30, 30, 30);
}

.fofilter h4 {
	width: 100%;
}

.boxfilters{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding:5px;
}

.boxfilters input{
	margin-right: 10px;
	width: 14px; 
	height: 20px; 
	cursor: pointer;
}

.fofilter label {
	display: flex;
	width: 100%;
	user-select: none;
	cursor: pointer;
}

.fofilter li {padding:2px;}

.inputfilters{
	display: flex;
	justify-content: space-evenly;
	margin:10px;
	background-color: rgb(30, 30, 30);
}

.inputfilters input {
	width: 130px;
	padding: 5px 5px 5px 10px;
	margin: 0px 5px 0px 10px;
	border-radius: 10px;
	border: none;
	outline:none;
}

/* SUBMIT BUTTON */
.fosubmit {
	margin: 5px;
	flex: 100%;
	padding: 10px;
	border: 1px black solid;
	background-color: rgba(0, 157, 255, 0.3);
}

.fosubmit button {
	padding: 5px;
	cursor: pointer;
}

.fosubmit span {
	font-size: 14px;
	text-decoration: underline;
	margin: 10px;
	cursor: pointer;
	transition: 0.3s;
}

.fosubmit span:hover {
	color: rgba(255, 0, 0, 0.8);
}

/* BODY END */
